# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit
.streamlit/

# macOS
.DS_Store

# Windows
Thumbs.db

# Local data files
*.csv
*.db
*.sqlite 